<nav>
    <div class="nav-wrapper">
        <a href="/posts" class="brand-logo">Friends Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Log out!</a></li>
            <li><a href="/users">Contributors</a></li>
            <li><a href="/posts/new">Write!</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div><img src="/images/friends.jpg"></div>
</div>

{{#each posts}}
    <div class="post-container">
      <div class="card center-align">
        <div class="card-content black-text">
        <h4><a href="/posts/{{this.postId}}">{{this.title}}</a></h4>
        <p>By: {{this.firstName}} {{this.lastName}}</p>
        <p>{{this.postBody}}</p>
      </div>
    </div>
    </div>
{{/each}}
