<nav>
    <div class="nav-wrapper">
        <a href="/posts" class="brand-logo">Skier's Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Log out!</a></li>
        </ul>
    </div>
</nav>

<div class="container container-custom">
  <a href="/users" class="waves-effect waves-light btn">Contributors</a>
  <a href="/posts/new" class="waves-effect waves-light btn">Write!</a>

  {{#each posts}}
    <div class=post-container>
      <h4><a href="/posts/{{this.postId}}">{{this.title}}</a></h4>
      <p>By: {{this.firstName}} {{this.lastName}}</p>
      <p>{{this.postBody}}</p>
    </div>
  {{/each}}
</div>
